.contact {
    margin-top: 25px;
}
/*
.contact-nav h2 {
    font-size: 18px;
    color: #595959;
    font-weight: normal;
    text-transform: uppercase;
}
.contact-nav-divider {
    /*width: 140px; */
/*
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.5)
}
@media screen and (min-width: 770px) {
    .contact {
        margin-bottom: 80px;
    }
    .contact-nav-divider {
        width: 170px;
    }
    .contact-article {
        margin-bottom: 0px;
    }
    .contact-article-txt {
          border-bottom: //1px solid rgba(168, 168, 168, 0.5)
    }
 }
*/
