.category {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.category-header {
    margin-bottom: 20px;
}
.category-header h2 {
    line-height: 32px;
    font-size: 28px;
    font-weight: 400;
    display: block;
    float: left;
    color: #303030;
    text-transform: capitalize;
}
.category-header-divider {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.category-form-control  {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.category-footer-btn {
    color: #303030;
    background-color: #ebf0f4;
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    float: right;
    width: 100px;
    margin-left: 5px;
    margin-top: 25px;
}
.category-footer-btn:hover {
  background-color: #ccc;
}
