.contact-page {
    margin-top: 25px;
}
.contact-page-nav h2 {
    font-size: 18px;
    color: #595959;
    font-weight: normal;
    text-transform: uppercase;
}
.contact-page-nav-divider {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.5)
}
.contact-page-article-bkgnd {
    background-image: url('./../images/front/slide2.jpg');
    background-repeat: no-repeat;
    height: 250px;
    padding-top: 50px;
}
.contact-page-article-txt {
    margin: 0 auto;
    font-size: 13px;
    color: #303030;
    width: 100%;
    padding: 20px;
    line-height: 2;
}
@media screen and (min-width: 770px) {
    .contact-page {
        margin-bottom: 30px;
    }
    .contact-page-nav-divider {
        width: 170px;
    }
    .contact-page-article-bkgnd {
        height: 438px;
        padding-top: 120px;
    }
    .contact-page-article-txt {
        font-size: 16px;
        width: 400px;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.65); 
        border: 1px solid rgba(168, 168, 168, 0.5);
    }
    .contact-page-article {
        margin-bottom: 0px;
    }
    .contact-page-article-txt {
          border-bottom: //1px solid rgba(168, 168, 168, 0.5)
    }
 }
