.products  {
    margin-top: 40px;
}
.products-header-divider { 
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-color: #ddd;
    border: 0;
}
.products-table {
    margin-bottom: 20px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    border: 0px solid #ddd;
    text-align: left;
}
.products-table th:first-child,
.products-table td:first-child {
    width: 170px;
    padding-left: 10px;
}
.products-table td:last-child, 
.products-table th:last-child {
    text-align: center;
}
.products-table th {
    padding: 0;
    line-height: 1;
    color: #595959;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 13px;
    padding-bottom: 15px;
    padding-top:  15px;
    border-bottom: 1px solid #ddd;
}
.products-table td {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
}
.products-table td:nth-child(5) {
    padding-left: 10px;
}
.products-table-image-container {
    margin-left: 4px;
    overflow: hidden;
    border: 1px solid rgba(168, 168, 168, 0.5);
    width: 100px;
    height: 100px;    
} 
/* <--- Header --> */
.products-header {
    margin-bottom: 20px;
    border: 0px solid black;
}
.products-header h2 {
    line-height: 32px;
    font-size: 28px;
    font-weight: 400;
    display: block;
    float: left;
    color: #303030;
    text-transform: capitalize;
}
.products-header-btn {
    color: #303030;
    background-color: #ebf0f4;
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    float: right;
    width: 100px;
}
.products-header-btn:hover {
    background-color: #ccc;
}
/* <--- Links --> */
.products-table-link {
    color: #337ab7;
    text-decoration: none;
}
/* mouse over link */
.products-table-link:hover {
    color: #234F74;
    cursor: pointer;
    text-decoration: underline;
}
/* <--- Quantity ---> */
.products-table-inventory {
    float: left;
    width: 26px;
    height: 26px;
    padding: 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
    color: #303030;
    border: 1px #999 solid;
    line-height: 26px;
}
.products-table-spinner {
    height: 25px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.products-table-sub, 
.products-table-add {
    float: left;
    display: block;
    width: 16px;
    height: 25px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    color: #777;
    border: 0px #999 solid;
    border-radius: 0;
    cursor: pointer;
    transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -ms-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    border-left: 0;
}
.products-table-sub:hover, 
.products-table-add:hover {
    color: #999;
}