/* <--- SITE ---> */
/* <--- Logo ---> */
.site-logo  {
    text-align: center;
    padding-top: 22px;
    padding-bottom: 22px;
}
.site-logo-img {
    height: 58px; 
    width: 147px; 
}
/* <--- Shipping ---> */
.site-shipping h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2px;
    text-align: center;
    color: #303030;
    margin-bottom: 20px;
}
/* <--- Navigation ---> */
.site-nav  {
    border-top: 1px solid rgba(168, 168, 168, 0.5);
    border-bottom: 1px solid rgba(168, 168, 168, 0.5);
    overflow: hidden;        
    margin-bottom: 20px;
}
.site-nav a {
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    text-decoration: none;
    color: #303030;
}
.site-nav li {
    display: block;
    float: left;
    line-height: 2; 
    font-size: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.site-nav li:last-child {
    float: right;

} 
.site-nav li:last-child::before { 
    content: '';
    border-left: 1px solid #aaa;
}
li.site-nav-icon {
    display: none;
}
/* unvisited link */
    .site-nav a:link {
    color: #000; 
}
/* visited link */
.site-nav a:visited {
    color: #303030;
}
/* mouse over link */
.site-nav a:hover {
    color: rgb(168, 168, 168);
}
/* selected link */
.site-nav a:active {
    color: #111;
}
/* mouse over link */
.site-nav span:hover {
    color: rgb(168, 168, 168);
    cursor: pointer;
} 
/* <--- RESPONSIVE MENU ---> */
@media screen and (min-width: 770px) {
    .site-logo  {
        padding-top: 44px;
        padding-bottom: 44px;
    }
}
@media screen and (max-width: 770px) {
    .site-nav li:not(:first-child):not(:last-child) {
        display: none;
    }
    li.site-nav-icon {
        display: block;
    }
}
@media screen and (max-width: 770px) {
    .site-nav li a {
        padding-left: 5px;
    }
    .site-nav li:last-child a {
        padding-left: 20px;
        padding-right: 10px;
    }
    .site-nav.responsive { position: relative; }
    .site-nav.responsive li:last-child {
        position: absolute;
        right: 0;
        top: 0;
    }
    .site-nav.responsive li:not(:last-child) {
        float: none;
        display: block;
        text-align: left;
    }
    .site-nav.responsive li {
        border-bottom: 1px solid #eee;
    }
    .site-nav.responsive li:nth-child(6) {
        border-bottom: 0px; 
    }
}
/* <--- DASHBOARD STYLING --> */
.site-nav.dashboard-not-auth {
    border-bottom: 0px;
}
.site-nav.dashboard-auth li {
    text-align: left;
}
.site-nav.dashboard-auth li a {
    text-align: left;
    padding-left: 0px;
}
.site-nav.dashboard-auth li:last-child a {
    text-align: left;
    padding-left: 35px;
    padding-right: 35px; 
}
.site-nav. li:last-child {
    text-align: right;
    float: right;
    padding-right: 0px; 
}
.site-nav .fa-shopping-cart {
    font-size: 22px;
}
/* <--- FOOTER ---> */
.site-footer h1 {
    font-size: 14px; 
    font-weight: normal;
    color: #595959;
    text-align: center;
    line-height: 1.5em;
}
.site-footer {
    margin-top: 50px;
    //padding-top: 24px;
    padding-bottom: 24px;
}
.site-divider {
    margin-bottom: 24px;
    border-bottom: 1px solid #ddd;
}